<div class="search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group" id="adv-search">
                    <input id="search-recipe-query" type="text" class="form-control" placeholder="Search recipe category ... salad, burger" />
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu" style="background-color: #03a9f4;">
                                    <form class="contact-form" role="form">
                                        <div class="label-floating is-empty">
                                            <label for="search-recipe-diet">Diet</label>
                                            <select id="search-recipe-diet" class="form-control">
                                                <!-- pescetarian, lacto vegetarian, ovo vegetarian, vegan, and vegetarian. -->
                                                <option value="" selected> </option>
                                                <option value="pescetarian">Pescetarian</option>
                                                <option value="lacto+vegetarian">Lacto vegetarian</option>
                                                <option value="vegan">Vegan</option>
                                                <option value="vegetarian">Vegetarian</option>
                                            </select>
                                        </div>
                                        <div class="label-floating is-empty">
                                            <label for="search-recipe-numberOfRecipes">Number</label>
                                            <input id="search-recipe-numberOfRecipes" class="form-control" type="number" min="1" max="100" />
                                        </div>
                                        <div class="label-floating is-empty">
                                            <label class="control-label" for="search-recipe-cuisine">Cuisine</label>
                                            <input id="search-recipe-cuisine" class="form-control" type="text" />
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-warning" data-toggle="popover" data-placement="top" title="Cuisine" data-content="The cuisine(s) of the recipes. One or more (comma separated) of the following: african, chinese, japanese, korean, vietnamese, thai, indian, british, irish, french, italian, mexican, spanish, middle eastern, jewish, american, cajun, southern, greek, german, nordic, eastern european, caribbean, or latin american.">Need help?</button>
                                                <div class="text-center"></div>
                                            </div>
                                            <!--<div class="col-md-6">
                                                <div class="text-center"><button id="search-recipe-btn-detailed" type="submit" class="btn btn-success"><i class="material-icons">search</i></button></div>
                                            </div>-->
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <button type="button" id="search-recipe-btn-normal" class="btn btn-success"><i class="material-icons">search</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
