<div id="login-form" class="col-md-4">
    <div>
        <div class="form-group label-floating is-empty">
            <label class="control-label">Username</label>
            <input type="text" class="form-control" id="tb-login-username">
            <span class="material-input"></span>
        </div>

        <div class="form-group label-floating is-empty">
            <label class="control-label">Password</label>
            <input type="password" class="form-control" id="tb-login-password">
            <span class="material-input"></span>
        </div>

        <a class="btn col-md-12" id="btn-login">Login</a>
    </div>
</div>