<div class="list-group-item">
    <button id="btn-favourites" class="btn btn-info btn-fab btn-fab-mini btn-round">
	    <i class="material-icons">favorite</i>
    </button>
    <button id="btn-liked" class="btn btn-info btn-fab btn-fab-mini btn-round">
        <i class="material-icons">thumb_up</i>    
    </button>
    <span>{{username}}</span>
    <div  id="favorite-recipes-container">

    </div>
</div>