<div>
    <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
	    <i class="material-icons">favorite</i>
    </button>
    <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
        <i class="material-icons">thumb_up</i>    
    </button>
    <h3>{{username}}</h3>
</div>