@font-face {
    font-family: LogoFont;
    src: url('../fonts/logo-font.ttf');
}

body {
    height: 100%;
    overflow: auto;
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
}

#app-logo {
    font-family: LogoFont;
    font-size: 65px !important;
    font-weight: normal !important;
}

#logo {
    float: left !important;
}

#register-form, #login-form {
    float: none;
    margin: 0 auto;
    color: black !important;
    margin-top: 50px;
}

#register-form, #login-form input {
    margin-bottom: 20px;
}

#btn-login, #btn-register {
    background: transparent !important;
    color: white !important;
    font-size: 20px;
}

.form-control, label {
    color: white !important;
}