@font-face {
    font-family: LogoFont;
    src: url('../fonts/logo-font.ttf');
}

body {
    height: 100%;
    overflow: auto;
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
}

#app-logo {
    font-family: LogoFont;
    font-size: 65px !important;
    font-weight: normal !important;
}

#logo {
    float: left !important;
}

.ingredient-img {
    max-width: 50px;
    max-height: 50px;
    margin: 5px;
    display: block;
}



ul.with-tick {
    padding-left: 20px;
    text-indent: 2px;
    list-style: none;
    list-style-position: outside;
}

    ul.with-tick > li:before {
        content: '✔';
        margin-left: -1em;
        margin-right: .100em;
    }

.inline-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .inline-list > li {
        display: inline;
    }

        .inline-list > li:before {
            content: none;
        }
